.env
venv
imagens_geradas
test/*
train/*
valid/*
*.zip
corrigir_labels/*
augmented/*
*.onnx
*.engine

/frontend/tcc_frontend/public/imagens/img_real_time
/frontend/tcc_frontend/public/imagens/img_statica
/frontend/tcc_frontend/public/imagens/video_treinado