# Logs

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
__pycache__

node_modules
dist
dist-ssr
*.local


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

venv
imagens_geradas
test/*
train/*
valid/*
dataset_sem_duplicatas/*
*.zip
corrigir_labels/*
augmented/*
*.onnx
*.engine
sem_duplicatas/*
/frontend/tcc_frontend/public/imagens/img_real_time
/frontend/tcc_frontend/public/imagens/img_statica
/frontend/tcc_frontend/public/imagens/video_treinado
/utils/dataset_frames/*
app/study



/app/routers/__pycache__
/app/routers/__pycache__
*.pyc
*.pt
