.env
venv
imagens_geradas
test/*
train/*
valid/*
dataset_sem_duplicatas/*
*.zip
corrigir_labels/*
augmented/*
*.onnx
*.engine
sem_duplicatas/*
/frontend/tcc_frontend/public/imagens/img_real_time
/frontend/tcc_frontend/public/imagens/img_statica
/frontend/tcc_frontend/public/imagens/video_treinado
/utils/dataset_frames/*
app/study